html, body {
    margin: 0;
}

.header {
    position: relative;
    top: 0;
    height: 44px;
    width:100%;
    background-color: #333;
    text-align: center;
    z-index: 2;
}

.a {
    text-decoration: none;
    color: white;
    font-size: 17px;
}

.a:hover {
    color: grey;
}

.lefttext {
    float: left;
    padding: 7px;
}

.righttext {
    float: right;
    padding: 7px;
}
