
/* Modal Content/Box */
.modal-content {
    background-color: #333;
    border: 1px solid #888;
    width: 800px; /* Could be more or less, depending on screen size */
    height: 600px;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
}

/* The Close Button */
.close {
    color: white;
    position: absolute;
    top: 0px;
    right: 10px;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color:  grey;
    text-decoration: none;
    cursor: pointer;
}

/* Modal Content */

.d {
    float: left;
    color: white;
    margin: 0;
}

.row1 {
    border-bottom: 1px solid white;
    position: absolute;
    height: 20px;
    top: 50px;
    left: 20px;
    right: 20px;
}

.selectopt {
    float: right
}

.modalbtn {
    position: absolute;
    bottom: 10px;
    right: 10px;
}